/* hid Compose Tweet h2  */
section h2{
  display: none;
}

section.new-tweet{
  margin: 1em 0em 1em 0em;
}
/* What are you humming about? text */
form label {
  width: 100%;
}
/* typing area  */
form textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  width: 100%;
  background-color: #f4f1ec;
  border-width: 0 0 5px 0;
}

form div {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-family: 'Bungee', sans-serif;
}

.alert-length {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-around;
  font-family: 'Source Sans Pro', sans-serif;
  border-style: solid;
  border-color: red;
  border-width: 0.5rem;
  color: red;
}

.alert-empty {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-around;
  font-family: 'Source Sans Pro', sans-serif;
  border-style: solid;
  border-color: red;
  border-width: 0.5rem;
  color: red;
}
/* send tweet button  */
form div button {
  color: #ffffff;
  background-color: #4056A1;
  padding: 0.25em 0.5em 0.25em 0.5em;
  margin-top: 1.5em;
}

/* text counter */
form div output {
  margin-top: 1.5em;
}
/* text counter change color */
output.error{
  color: red;
}

@media (min-width: 800px) {
  .alert-length {
    margin-top: 0rem;
  }

  .alert-empty {
    margin-top: 0rem;
  }
}