section.tweets {
  width: 100%;
  background-color: #f4f1ec; 
}

section.tweets header {
  display: flex;
  align-items: center;
}

section.tweets article {
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  border: 0.5rem;
  border-style: solid;
  border-color: #000;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

section.tweets article:hover {
  box-shadow: 1rem 1rem #7F89DE;
}

section.tweets article:hover span.handle{
  opacity: 0.5;
  color: #7F89DE;
}

section.tweets p.content {
  margin-bottom: 1rem;
}

section.tweets footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
  border-top: solid;
  padding-top: 0.5rem;
}

section.tweets p.time {
  margin-right: auto;
}

section.tweets i {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

span.username {
  display: flex;
  padding-left: 1rem;
  justify-content: flex-start;
}

span.handle {
  display: flex;
  margin-left: auto;
  opacity: 0;
}
span.time {
  margin-right: auto;
}


