/* tweets area  */
section.tweets {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f4f1ec; 
}
/* avatar and username */
section.tweets header {
  display: flex;
  align-items: center;
}
/* tweet box  */
section.tweets article {
  width: 100%;
  /* flex-grow: 3;
  flex-direction: row; */
  /* align-items: center; */
  padding: 1rem 1rem 1rem 1rem;
  border: 0.5rem;
  border-style: solid;
  border-color: #000;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* tweet box effect on hover  */
section.tweets article:hover {
  box-shadow: 1rem 1rem #7F89DE;
}
/* handle effects on hover  */
section.tweets article:hover span.handle{
  opacity: 0.5;
  color: #7F89DE;
}

section.tweets p.content {
  overflow-wrap: anywhere;
  margin-bottom: 1rem;
}

section.tweets footer {
  display: flex;
  font-size: 1rem;
  border-top: solid;
  padding-top: 0.5rem;
}

/* icons  */
section.tweets i {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

/* header section username */
span.username {
  display: flex;
  padding-left: 1rem;
  justify-content: flex-start;
}
/* header section handle*/
span.handle {
  display: flex;
  margin-left: auto;
  opacity: 0;
}
/* footer section time*/
span.time {
  margin-right: auto;
}

@media (min-width: 800px) {
  section.tweets {
    /* display: flex;
    flex-direction: column; */
    /* flex-wrap: wrap; */
    justify-content: flex-start;
  }
}


